<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1>New Car! No Toyotas...</h1>
    <form action="/cars" method="POST">
    <input type="text" name="name" value="New Car(Year Make Model)">
    <button type="submit">Save Car</button>
    </form>
</body>
</html>