<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= car.name %></h1><br>
    <a href="/cars/<%= car.id %>/edit">Edit Car</a><br>
    <h3><%= car.sexy %></h3>
</body>
</html>